*{
    margin: 0;
    padding: 0;
}

.container{
    height: 100vh;
    font-family: Poppins;
}

.navbar-container{
    display: flex;
    justify-content: space-between;
    height: 10vh;
    padding: 10px 70px;
    align-items: center;
}

.navbar-container img{
    height: 35px;
}

.list{
    position: relative;
    display: flex;
    width: 600px;
    left: -220px;
}

.list-item{
    list-style-type: none;
    padding: 0 25px;
    color: #818181;
}

.list-item:hover{
color: #0D0D0D;
font-weight: 600;
cursor: pointer;
}

.nav-button{
    font-size: 15px;
    padding: 10px 30px;
    border-radius: 10px;
    background-color: #442aa3da;
    color: #ffffff;
    border: none;
}

.banner-container{
    position: relative;
    height: 80vh;
}

.banner-container div>.heading-text,.description,.btn{
    position: relative;
    top: 100px;
}

.heading-text{
    position: relative;
    color: #1b005a;
    font-size: 60px;
    font-weight: 550;
    margin-left: 10%;
    width: 30%;
}
.heading-text span{
    color: #442aa3da;
}

.description{
    position: relative;
    color: #818181;
    font-size: 13px;
    margin-left: 10%;
    width: 24%;
    top: 110px;
}

.btn{
top: 150px;
left: 10%;
padding: 20px 40px;
}

.banner-container div img{
    position: absolute;
    height: 100%;
    top: 0;
    right: 4%;
}

